body {
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
}

.navbar-brand img {
  max-height: 30px;
  margin-left: -10px !important;
}

.navbar-light {
  padding-top: 25px;
  margin-left: -10px;
}

.navbar-light .navbar-nav .nav-link {
  color: #777777;
  font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #000 !important;
}

.btn-navbar-right {
  margin-left: 30px !important;
  height: 46px;
  width: 120px;
  border-radius: 2px;
}

.btn-login {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.btn-login:hover {
  background-color: #FF5674;
  color: #ffffff;
}

.btn-join {
  margin-right: -60px;
  background-color: #fff;
  color: #FF5674;
}

.btn-join:hover {
  background-color: #FF5674;
  color: #ffffff;
}

.btn-gabung {
  width: auto;
  height: auto;
  background: #FF5674;
  -webkit-box-shadow: 0px 4px 40px rgba(255, 86, 116, 0.25);
          box-shadow: 0px 4px 40px rgba(255, 86, 116, 0.25);
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.btn-gabung:hover {
  color: #FF5674;
  background-color: #fff;
}

header {
  padding: 180px 0px 165px;
  margin-top: -80px;
  margin-bottom: 100px;
  margin-left: -30px;
  background: linear-gradient(196.12deg, rgba(242, 98, 124, 0.15) 8.94%, rgba(196, 196, 196, 0) 75.9%);
}

header .header-rectangle {
  width: 50%;
  height: 720px;
  float: right;
  margin-top: -190px;
  margin-right: -210px;
  background: linear-gradient(26.71deg, #D5415B 0.77%, #FF718A 103.25%);
  border-radius: 0px 0px 0px 122px;
}

header .header-rectangle img.icon {
  width: auto;
  height: 100px;
  margin-top: 600px;
  margin-left: -140px;
}

header .header-rectangle img {
  width: 377px;
  margin-top: -650px;
  margin-left: -100px;
}

header .header-content h1 {
  margin: 0 0 30px;
  padding-bottom: 20px;
  font-size: 45px;
  font-weight: bold;
  color: #222222;
}

header .header-content p {
  margin: 0 0 30px;
  font-size: 18px;
  font-weight: normal;
  color: #333333;
}

main {
  margin-top: 220px;
}

main .imggallery {
  width: auto;
  height: auto;
  padding: 10px 0;
}

main .card-detail {
  border-style: none;
  margin-left: 40px;
}

main .card-detail h3 {
  font-weight: 600;
  font-size: 18px;
  color: #F1607A;
  padding-bottom: 25px;
}

main .card-detail h2 {
  padding-bottom: 25px;
  color: #222222;
  font-weight: bold;
}

main .card-detail p {
  font-size: 16px;
  color: #333333;
  padding-bottom: 15px;
}

main .card-detail table {
  margin-top: -60px;
  margin-left: 200px;
  padding: 0 !important;
}

main .fitur {
  margin-left: -2px;
}

main .fitur .fitur-item p {
  margin-bottom: 0;
}

main .fitur .fitur-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

main .fitur .fitur-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #333333;
}

main .fitur .fitur-image {
  width: 60px;
  height: 60px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 40px rgba(51, 51, 51, 0.08);
          box-shadow: 0px 4px 40px rgba(51, 51, 51, 0.08);
  border-radius: 2px;
  float: left;
}

main .fitur .fitur-image img {
  width: auto;
  height: auto;
}

main .section-penjahit {
  margin-left: -12px;
}

main .section-penjahit .image {
  position: absolute;
  margin-top: -190px;
  margin-left: -100px !important;
}

main .section-penjahit #gallery {
  margin-left: -120px !important;
}

main .section-pengguna {
  margin-top: 200px;
  margin-left: -50px !important;
}

main .section-pengguna .image {
  position: absolute;
  margin-top: 65px;
  margin-left: 130px;
}

main .section-pengguna #gallery {
  float: right;
  margin-top: 150px;
  margin-right: -180px !important;
}

main .section-order {
  padding-bottom: 100px !important;
}

main .section-order .section-order-content {
  background-color: #FFE8EC;
  height: 100%;
}

main .section-order .section-order-content .content img {
  position: absolute;
  margin-left: -530px;
}

main .section-order .section-order-content .content h3 {
  font-weight: 600;
  font-size: 18px;
  color: #F1607A;
}

main .section-order .section-order-content .content h2 {
  font-weight: bold;
  font-size: 40px;
  color: #222222;
}

main .section-order .section-order-content .content p {
  color: rgba(51, 51, 51, 0.8);
  font-size: 14px;
}

main .section-order .section-order-content .section-gabung .box {
  background: #fff;
  border-radius: 10px;
  width: 180px;
  height: 180px;
  margin-bottom: 30px;
}

main .section-order .section-order-content .section-gabung .box .number {
  background-color: #FF5674;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

main .section-order .section-order-content .section-gabung .box-content {
  margin-top: 50px;
  margin-bottom: 20px;
}

main .section-order .section-order-content .section-gabung .box-content h3 {
  width: 220px;
  font-weight: bold;
  font-size: 22px;
  color: #000;
}

main .section-order .section-order-content .section-gabung .box-content p {
  margin: 0 !important;
  width: 220px;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.7);
}

main .section-join .section-join-content {
  color: #333333;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 60px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 10px 60px rgba(51, 51, 51, 0.1);
}

main .section-join .section-join-content .rec {
  height: 100px;
  position: absolute;
  margin-top: 180px;
  margin-left: 46%;
}

main .section-join .section-join-content .image {
  position: absolute;
  height: 350px;
  margin-top: -90px;
  margin-left: 50%;
}

main .section-join .section-join-content h2 {
  font-weight: bold;
  font-size: 36px;
}

main .section-join .section-join-content p {
  font-size: 16px;
}

main .section-join .section-join-content .btn-gabung {
  position: relative;
}

.section-footer {
  margin-top: -150px;
  color: #fff;
  bottom: 0px;
  background: linear-gradient(7.96deg, #D5415B 0.77%, #FF718A 103.25%);
}

.section-footer .row-list {
  margin-top: 120px !important;
}

.section-footer h5 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.section-footer li {
  margin-bottom: 10px;
}

.section-footer a {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
}

.section-footer .copyright {
  font-size: 16px;
  font-weight: normal;
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 20px !important;
  }
  .navbar-light .btn-login, .navbar-light .btn-join {
    background-color: #FF5674;
    color: #fff;
    -webkit-box-shadow: 0px 4px 40px rgba(255, 86, 116, 0.25);
            box-shadow: 0px 4px 40px rgba(255, 86, 116, 0.25);
  }
  .navbar-light .btn-login:hover, .navbar-light .btn-join:hover {
    background-color: #fff;
    color: #FF5674;
  }
  header {
    text-align: center;
    background: none;
  }
  header .header-rectangle {
    display: none;
  }
  header .header-content {
    text-align: center;
  }
  header .header-content p {
    font-size: 14px;
  }
  header .btn-gabung {
    margin-top: 20px !important;
  }
  main {
    margin-top: -100px !important;
  }
  main .image, main .rec {
    display: none;
  }
  main .imggallery {
    margin: 0px !important;
    margin-left: 20% !important;
    width: 293px;
    height: auto;
  }
  main .section-penjahit .card-detail {
    margin-top: 50px;
    margin-left: 80px;
  }
  main .section-penjahit #gallery .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .section-pengguna {
    margin-top: 200px !important;
    margin-left: 0px !important;
  }
  main .section-pengguna .card-detail {
    margin-top: -30px !important;
    margin-left: 10% !important;
  }
  main .section-pengguna .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .section-pengguna .row #gallery {
    margin: 0px !important;
    float: left;
  }
  main .section-order {
    text-align: center;
  }
  main .section-order .container {
    margin-left: -10px;
  }
  main .section-order .section-gabung {
    margin-left: 5px !important;
  }
  main .section-join .container {
    margin-left: -10px;
    margin-top: -50px;
  }
  .section-footer .row-list {
    margin-top: -80px;
  }
}
/*# sourceMappingURL=main.css.map */